<!-- <%- include('./partials/head') %>

<article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p>Annelinde</p>

  <footer></footer>
</article>

<%- include('./partials/foot') %> -->

<%- include('./partials/head') %>

<div class="container">
  <div class="profile">                                                                                         
      <img src="assets/image0.jpeg" class="user-img">
    <h2>Annelinde Raadsheer</h2>
      <p>Mijn naam is Annelinde en ik ben 23 jaar oud. 
        Ik ben eerstejaars student aan de opleiding FDND. 
        Ik hoop hier veel te leren en mij te kunnen specialiseren als Frontender. </p>
    <a href="https://www.instagram.com/annelinde.r/" target="_blank" class="btn"><h3><i class="fa-brands fa-instagram"></i></h3>
      <p>Instagram</p></a>
    <a href="https://github.com/annelinderaadsheer?tab=repositories" target="_blank" class="btn"><h3><i class="fa-brands fa-github"></i></h3>
      <p>Github</p></a>
    <a href="https://www.linkedin.com/in/annelinde-raadsheer-b38375194/" target="_blank" class="btn"><h3><i class="fa-brands fa-linkedin"></i></h3>
      <p>Linked-in</p></a>
</div> 
</body>

<%- include('./partials/foot') %>
